@import '@/styles/variables';
@import '@/styles/mixins';

.LandingPage {
  @include flex-center;
  margin-top: 80px;
  max-width: 900px;
 
  &_left {
    margin-right: 80px;

    &_helper {
      margin: 35px 0 60px 0 !important;
    }

    &_button {
      padding-left: 60px !important;
      padding-right: 60px !important;
    }
  }

  &_image {
    margin-left: 80px;
  }
}
