@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Pagination {
  @include flex-center;
  width: 100%;
  overflow: hidden;
  margin: 24px 0;

  &_iconButton {
    margin: 0 4px;
  }
}
