@import "@/styles/mixins";

.Account {
  display: grid;
  grid-template-columns: 210px auto;
  grid-gap: 24px 96px;
  margin-top: 90px;

  &_seller {
    display: flex;
    flex-direction: column;
    margin-top: 24px !important;
  }

  @include breakpoint(md) {
    grid-gap: 24px 64px;
  }

  @include breakpoint(sm) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  &_tabs {
    width: 300px;

    &_seller {
      width: 100% !important;

      > div {
        > a {
          width: 100% !important;
        }
      }
    }
  }

  &_title {
    margin: 0 0 32px 0 !important;
  }

  &_card {
    padding: 48px;

    @include breakpoint(sm) {
      padding: 32px;
    }
  }
}
