@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.CartCardList {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px;

  &_seller {
    display: flex;
    border-bottom: 1px solid $neutral-200;
    margin: 0 -1.7rem 0 -1.7rem;
    padding: 0 0 20px 40px;

    &_icon {
      color: $blue-400;
      font-size: 16px;
      margin: 0 8px 0 12px;
    }
  }

  &_item {
    background-color: $neutral-50;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
    gap: 12px;
    padding: 16px 32px;
    margin-top: 12px;
  }

  &_product {
    display: flex;
    align-items: center;
    grid-column: 1/6;
    place-self: start start;
    
    &_details {
      display: flex;
      margin-left: 16px;
      gap: 12px;

      &_text {
        margin-bottom: 8px;
      }

      &_customize {
        min-height: 75px !important;
      }
    }
  }

  &_price {
    grid-column: 6/7;
  }

  &_quantity {
    display: flex;
    align-items: center;
    gap: 20px;
    grid-column: 8/10;
  }

  &_totalPrice {
    grid-column: 10/13;
  }

  &_actions {
    grid-column: 14;
  }
}