@import '@/styles/variables';
@import '@/styles/mixins';

.SellerProducts {
  margin-top: 90px;
  
  &_banner {
    background: $blue-gradient;
    height: 250px;
    border-radius: 5px;
    box-shadow: $shadow-normal;
    @include flex-center;
    flex-direction: column;
    text-align: center;

    &_text {
      font-size: 90px;
      text-transform: capitalize;

      @include breakpoint(md) {
        font-size: 60px; 
      }

      @include breakpoint(xs) {
        font-size: 40px; 
      }
    }

    &_rating {
      margin: 12px 0 24px;
      
      > i {
        font-size: 32px !important;
      }
    }

    &_additional {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;

      &_text {
        color: $neutral-50;
      }
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &_products {
    margin-left: 40px;

    &_list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      column-gap: 20px;
      row-gap: 12px;
    }

    &_empty {
      width: 100%;
    }

    &_item {
      &:hover {
        scale: 1.05;
      }
    }
  }

  &_pagination {
    margin-top: 60px;
  }
}