@import '@/styles/variables';
@import '@/styles/mixins';

@mixin base($font-size, $line-height, $padding) {
  font-family: "Open Sans", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 700;
  font-style: normal;
  padding: $padding;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: max-content;
  text-decoration: none;
  text-align: center;
  @include ease(0.2s);

  @content;
}

@mixin horizontal-lg($state) {
  @include base(1rem, 1.25, 16px 32px) {
    @if $state == unselected {
      color: $neutral-400;
      border-bottom: 2px solid transparent;
    } @else if $state == selected {
      color: $blue-300;
      border-bottom: 2px solid $blue-300;
    }

    &:hover {
      background-color: transparentize($blue-300, 0.9);
    }

    &:active {
      background-color: transparentize($blue-300, 0.8);
    }
  }
}

@mixin horizontal-sm($state) {
  @include base(0.75rem, 1.67, 8px 16px 4px 16px) {
    @if $state == unselected {
      color: $neutral-400;
      border-bottom: 2px solid transparent;
    } @else if $state == selected {
      color: $neutral-700;
      border-bottom: 2px solid $blue-300;
    }

    &:hover {
      color: $neutral-700;
    }
  }
}

@mixin vertical($font-size, $line-height, $padding, $state) {
  @include base($font-size, $line-height, $padding) {
    border-radius: 100px;
    margin: 2px 0;

    @if $state == unselected {
      color: $neutral-400;
    } @else if $state == selected {
      color: $blue-300;
      background-color: transparentize($blue-300, 0.9);
    }

    &:hover {
      background-color: transparentize($blue-300, 0.9);
    }

    &:active {
      background-color: transparentize($blue-300, 0.8);
    }
  }
}

@mixin vertical-lg($state) {
  @include vertical(1.2rem, 1.25, 16px, $state);
}

@mixin vertical-sm($state) {
  @include vertical(0.875rem, 1.67, 12px 16px, $state);
}

.Tab {
  &___horizontal___lg {
    @include horizontal-lg(unselected);

    &___active {
      @include horizontal-lg(selected);
    }
  }

  &___horizontal___sm {
    @include horizontal-sm(unselected);

    &___active {
      @include horizontal-sm(selected);
    }
  }

  &___vertical___lg {
    @include vertical-lg(unselected);

    &___active {
      @include vertical-lg(selected);
    }
  }

  &___vertical___sm {
    @include vertical-sm(unselected);

    &___active {
      @include vertical-sm(selected);
    }
  }

  &___withClose {
    display: flex;
    align-items: center;
    padding: 8px 4px 4px 16px;
    transition: none;
  }

  &_close {
    margin: 0 0 0 4px;
  }
}
