
@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.AddReviewModal {
  &_stars {
    @include flex-center;
    margin-bottom: 24px;
  }

  &_star {
    color: $yellow-400 !important;
  }

  &_button {
    @include flex-center;
    width: 100% !important;
    margin: 40px auto 0 !important;
    
    &_buttonText {
      display: flex;
    }
    
    &_spinner {
      margin-left: 12px;
      width: unset !important;
    }
  }

}