@import '@/styles/variables';
@import '@/styles/mixins';

.History {
  padding-bottom: 80px;

  &_header {
    @include flex-between;
    margin: 0 -10rem 40px -10rem;
  }

  &_button {
    padding: 12px 40px;

    &_logout {
      font-size: 18px;
      text-decoration: underline !important;
    }
  }
  
  &_table {
    border: 1px solid $neutral-600;
    border-radius: 5px;
    text-align: center;
    width: 100%;

    &_row {
      align-items: center;
      border-bottom: 1px solid $neutral-600;
      display: flex;
      justify-content: space-around;

      &:last-of-type {
        border-bottom: none;
      }
    }
    
    &_column {
      border-right: 1px solid $neutral-600;
      width: 300px;
      padding: 12px 0;
    }

    &_lastColumn {
      width: 300px
    }

    &_gifts {
      @include flex-center;
      &_gift {
        padding: 0 4px;
      }
    }
  }
}