@import "@/styles/mixins";
@import "@/styles/variables";

.DeliveryLogsModal {
  &_content {
    display: flex;
  }

  &_delivery {
    max-width: 300px;
    margin-right: 24px;

    &_title {
      margin-bottom: 40px !important;
    }

    &_name {
      margin-bottom: 16px !important;
    }

    &_number {
      margin-bottom: 8px !important;
    }
  }

  &_logs {
    border-left: 1px solid $neutral-200;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
    padding-left: 24px; 
    position: relative;

    &_circle {
      background-color: $neutral-200;
      border-radius: 50px 50px;
      height: 24px;
      left: -13px;
      position: absolute;
      width: 24px;

      &___green {
        background-color: $green-300 !important;
      }
    }

    &_log {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  &_proof {
    margin: 0 24px 0 auto;

    &_title {
      margin-bottom: 12px !important;
    }

    &_fee {
      margin-top: 12px !important;

      &_span {
        color: $green-300;
      }
    }
  }
}