@import '@/styles/variables';
@import '@/styles/mixins';

.ChangePassword {
  margin-top: 80px;
  padding-bottom: 60px;

  &_header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
    text-align: center;
  }

  &_content {
    &_buttonGroup {
      margin-top: 60px;
      width: 100%;
      text-align: center;

      &_buttonText {
        @include flex-center;
      }

      &_spinner {
        margin-left: 12px;
        width: unset !important;
      }

      &_submitButton {
        margin-bottom: 24px;
        width: 250px;
      }
    }
  }

  &_withMarginBottom {
    margin-bottom: 12px;
  }

  &_withMarginTop {
      margin-top: 12px;
  }
}