
@import '@/styles/variables.scss';

.SellerModal {
  &_profile {
    padding: 24px;
    margin-bottom: 24px;
    
    &_info {
      display: flex;
      margin-bottom: 12px;
    }

    &_name {
      margin-left: 24px;
    }

    &_sellerName {
      margin-bottom: 12px;
    }
  }

  &_info {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &_additionalContainer {
    padding: 12px 12px 0;
  }


  &_additionalInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    place-items: flex-start;
    gap: 12px;
    padding: 8px;
    border-bottom: 1px solid $neutral-200;

    &:last-child {
      border-bottom: none;
    }
  }
}