@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.ProductCard {
  padding: unset;
  display: flex;
  flex-direction: column;

  &:hover {
    scale: 1.05;
  }
  
  &_image {
    height: 150px;
    width: 100%;
  }

  &_info {
    padding: 12px 16px 8px;
  }

  &_price {
    margin-top: 12px !important;
  }

  &_ratings {
    display: flex;
    align-items: unset !important;
    justify-content: unset !important;
    margin: 12px 0 8px !important;
  }

  &_button {
    margin-top: 24px;
  }
}