@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.ProductCard {
  padding: unset;
  display: flex;
  flex-direction: column;
  
  &_image {
    height: 150px;
    width: 100%;
  }

  &_info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px 14px;
    
    &_name {
      max-width: 180px;
      @include text-ellipsis; 
    }
  }

  &_price {
    margin-top: 12px !important;
  }

  &_ratings {
    margin: 12px 0 8px !important;
  }

  &_bottom {
    @include flex-between;
    gap: 8px;
    margin-top: auto;
  }

  &_button {
    background-color: $blue-400;
    border-radius: 5px;
    color: $neutral-0;
    padding: 4px;
    font-weight: 500;
    text-align: center;

    &:hover {
      background-color: $blue-300;
    }
  }
}