@import '@/styles/variables';
@import '@/styles/mixins';

.MainPage {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  padding-bottom: 80px;

  &_suggestions {
    animation: fadeIn ease-in 0.5s;
    background-color: $neutral-0;
    border-radius: 5px;
    box-shadow: $shadow-normal;
    display: flex;
    flex-direction: column;
    max-width: 1236px;
    margin: 24px 0 40px 0;
    padding: 12px 24px;
    text-align: center;

    &_title {
      background-color: #3586A4;
      border-radius: 5px;
      box-shadow: $shadow-normal;
      padding: 12px;
    }
  
    &_header {
      @include flex-between;
      margin-bottom: 40px;
    }
  
    &_button {
      padding: 12px 40px;
  
      &_logout {
        font-size: 18px;
        text-decoration: underline !important;
      }
    }
  
    &_top3 {
      color: $blue-400;
    }
  
    &_item {
      display: flex;
      flex-direction: column;
      grid-gap: 20px;
      margin-top: 24px;
  
      &_text {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;
        text-align: start;
      }
      
      &_products {
        padding: 24px 12px 50px;
      }

      &_productsEmpty {
        background-color: $neutral-0;
        border-radius: 5px;
        box-shadow: $shadow-normal;
        @include flex-center;
        padding: 32px 40px;
        margin-bottom: 40px;
      }

      &_product {
        background-color: $border-200;
        margin: 0 12px !important;
        padding: 0 0 12px 0 !important;
      }
    }
  }

  &_provinces {
    background-color: $neutral-0;
    border-radius: 5px;
    box-shadow: $shadow-normal;
    display: flex;
    flex-direction: column;
    max-width: 1236px;
    margin-bottom: 40px;
    padding: 32px 24px 12px;

    &_list {
      padding: 24px 12px 50px;
    }

    &_item {
      background-color: $border-200;
      margin: 0 12px;
      padding: 0 0 12px 0;
    }
  }

  &_grid {
    background-color: $neutral-0;
    border-radius: 5px;
    box-shadow: $shadow-normal;
    margin-bottom: 40px;
    padding: 32px 24px;
    
    &_list {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 8px;
      max-width: 1200px;
      margin-top: 24px;
    }

    &_item {
      padding: 0 !important;

      &:hover {
        box-shadow: $shadow-raised;
      }
    }
  }
}