@import './variables';
@import './fonts';
@import './mixins';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

  @include breakpoint(xs) {
    height: auto;
  }
}

body {
  background-color: $border-200;
  color: $neutral-700;
  font-family: Gotham, sans-serif;
  font-size: 1rem;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#root {
  height: 100%;

  @include breakpoint(xs) {
    height: auto;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.react-datepicker-wrapper {
  width: 100%;
}

.ReactModal__Overlay--after-open {
  opacity: 1 !important;
}

// Slick
.slick-prev,
.slick-next {
  height: 40px !important;
  width: 40px !important;
  z-index: 1;

  &:hover {
    scale: 1.2;
  }

  @media (max-width: 767px) {
    display: none !important;
  }
}

.slick-next {
  right: -35px !important;
}

.slick-prev {
  left: -35px !important;
}

.slick-prev::before,
.slick-next::before {
  color: $blue-100 !important;
  font-size: 40px !important;
}

.slick-dots {
  bottom: -40px !important;
}

.slick-dots li.slick-active button::before {
  color: $blue-100 !important;
}

.slick-dots li button::before {
  font-size: 12px !important;
}

.slick-slide {
  width: unset !important;
}
