@import '@/styles/variables';
@import '@/styles/mixins';

.SellerApplication {
  margin-top: 60px;
  max-width: 450px;
  padding-bottom: 60px;
  width: 100%;
  text-align: center;

  &_header {
    margin-bottom: 40px !important;
  }

  &_reason {
    margin-bottom: 32px !important;
  }

  &_body {
    margin-bottom: 60px !important;
  }

  &_span {
    color: $blue-400;
    font-weight: 600;
  }
}
