@import '@/styles/variables';
@import '@/styles/mixins';

.Dashboard {
  padding-top: 24px;

  &_statistics {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 24px;
    margin: 32px 0 40px;

    &_details {
      text-align: center;
      width: 100%;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        border-right: 1px solid $neutral-200;
      }
    }

    &_text {
      @include flex-center;
      margin-top: 12px;
    }

    &_pendingIcon {
      margin-right: 8px;
      color: $neutral-400;
    }

    &_ongoingIcon {
      margin-right: 8px;
      color: $blue-400;
    }

    &_completedIcon {
      margin-right: 8px;
      color: $green-400;
    }
  }

  &_announcements {
    margin-top: 32px;
    padding: 24px 24px 8px;

    &_text {
      background-color: $neutral-50;
      border-radius: 5px;
      margin-bottom: 16px;
      padding: 16px;
    }

    &_title {
      margin-bottom: 16px;
    }
  }
}