@import '@/styles/mixins';

.NoResults {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_text {
    margin-top: 24px !important;
  }

  &_image {
    @include breakpoint(xs) {
      width: 300px;
    }
  }
}