@import '@/styles/variables';
@import '@/styles/mixins';

.AddProduct {
  padding-top: 24px;
  
  &_content {
    margin-top: 32px;

    &_withMargin {
      margin-top: 10px !important;
    }

    &_imageText {
      margin: 24px 0 !important;
      text-align: center;
    }

    &_bottomGrid {
      margin-top: 24px;

      &_left {
        display: flex;
        flex-direction: column;
      }

      &_checkbox {
        margin-top: 24px;
      }
    }

    &_price {
      &_commission {
        border-bottom: 1.5px solid $neutral-200;
        @include flex-between;
        margin-top: 24px;
        padding-bottom: 16px;

        &_span {
          color: $blue-400;
          font-size: 16px;
        }
      }

      &_total {
        margin-top: 24px;
        @include flex-between;
      }
    }

    &_addButton {
      @include flex-center;
    }

    &_buttonGroup {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 40px;

      &_buttonText {
        @include flex-center;
      }

      &_spinner {
        margin-left: 12px;
        width: unset !important;
      }
    }
  }
}
