@import '@/styles/variables';
@import '@/styles/mixins';

.Checkout {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  padding-bottom: 60px;

  &_banner {
    background-color: $neutral-0;
    border-bottom: 2px solid $neutral-200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    position: absolute;
    left: 0;
    right: 0;

    &_text {
      display: flex;
      align-items: center;
      max-width: 1440px;
      padding: 0 60px;
      width: 100%;
    }
  }

  &_delivery {
    background-color: $neutral-0;
    border-radius: 5px;
    border-top: 5px solid $blue-100;
    margin: 150px 0 40px 0;
    padding: 24px 40px;

    &_title {
      display: flex;
      align-items: center;

      &_icon {
        font-size: 24px !important;
        color: $blue-400 !important;
        margin-right: 10px;
      }
    }

    &_details {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: 24px;

      &_button {
        margin-left: auto !important;
      }
    }
  }
  
  &_details {
    background-color: $neutral-0;
    border-radius: 5px;
    padding: 24px 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;

    &_products {
      grid-column: 1/5;
      place-self: normal;
    }

    &_customization {
      width: 200px;
      grid-column: 5/7;
    }

    &_price {
      margin-left: 60px !important;
      grid-column: 7/9;
    }

    &_quantity {
      grid-column: 9/11;
    }

    &_total {
      grid-column: 12;
    }
  }

  &_products {
    margin-top: 16px;
  }

  &_footer {
    @include flex-center;
    background-color: $neutral-0;
    box-shadow: $shadow-normal;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px 40px;
    
    &_container {
      max-width: 1350px;
      width: 100%;
    }

    &_content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 12px;
    }

    &_button {
      margin-left: 24px !important;
      width: 200px;
    }
  }
}