@import '@/styles/mixins';

.container {
  margin: 0 auto;
  flex-direction: column;
  max-width: 1440px;
  padding: 75px 60px 80px 260px;

  @include breakpoint(md) {
    padding-left: 60px;
  }

  @include breakpoint(sm) {
    padding: 75px 40px 80px 40px;
  }

  @include breakpoint(xs) {
    padding: 75px 24px 80px 24px;
  }
}
