@import '@/styles/variables';
@import '@/styles/mixins';

.ReviewOrders {
  padding-top: 24px;

  &_search {
    margin-top: 20px;
  }

  &_orders {
    display: flex;
    flex-direction: column;
    padding: 20px 0 12px;
  }

  &_order {
    margin-top: 12px;
  }

  &_info {
    @include flex-between;
    border-bottom: 1px solid $neutral-200;
    padding: 0 32px 20px 24px;

    &_left {
      display: flex;
    }

    &_text {
      margin-right: 24px !important;
    }

    &_date {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &_buttons {
      display: flex;
      align-items: center;
    }

    &_statusButton {
      margin-right: 16px !important;
    }

    &_reportsButton {
      border-color: $red-400 !important;
      color: $red-400 !important;
    }
  }

  &_item {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
    padding: 12px 24px;
  }

  &_product {
    display: flex;
    align-items: center;
    grid-column: 2/6;
    place-self: normal;
    gap: 12px;

    &_text {
      margin-bottom: 8px !important;
    }
  }

  &_quantity {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    grid-column: 6/8;
  }

  &_customizationText {
    @include flex-center;
    flex-direction: column;
    gap: 8px;
    min-width: 250px !important;
    text-align: center;
  }
  
  &_price {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    grid-column: 9/11;
  }

  &_orderTotal {
    background-color: $blue-0;
    border-radius: 0 0 5px 5px;
    border-top: dashed 2px $blue-100;
    @include flex-between;
    padding: 24px 32px;

    &_buttons {
      display: flex;
      align-items: center;
      gap: 12px;

      &_button {
        @include flex-center;
        width: 180px !important;

        &_spinner {
          margin-left: 12px;
          width: unset !important;
        }
      }
    }

    &_text {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-right: 12px;
    }
  }

  &_pagination {
    margin-top: 60px;
  }

  &_noResults {
    margin-top: 40px;
  }
}