@import "@/styles/mixins";
@import "@/styles/variables";

.Orders {
  &_title {
    margin-bottom: 20px !important;
  }

  &_filters {
    background-color: $neutral-50;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    &_button {
      width: 100%;
      padding: 12px 0 !important;

      &___active {
        border-bottom: 2px solid $blue-400 !important;
        background-color: $blue-25 !important;

        > h6 {
          color: $blue-400;
        }
      }

      &:hover {
        > h6 {
          color: $blue-400;
        }
      }
    }
  }

  &_search {
    margin-top: 18px;
  }

  &_orders {
    display: flex;
    flex-direction: column;
    padding: 20px 0 12px;
  }

  &_order {
    margin-top: 12px;
  }

  &_info {
    @include flex-between;
    border-bottom: 1px solid $neutral-200;
    padding: 20px 32px 20px 24px;

    &_left {
      display: flex;
    }

    &_text {
      margin-right: 24px !important;
    }

    &_date {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &_buttons {
      display: flex;
      align-items: center;
    }

    &_statusButton {
      margin-right: 16px !important;
    }

    &_reportsButton {
      border-color: $red-400 !important;
      color: $red-400 !important;
    }
  }

  &_item {
    box-shadow: $shadow-normal;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
    padding: 12px 24px;
    margin: 8px;
  }

  &_product {
    display: flex;
    align-items: center;
    grid-column: 2/6;
    place-self: normal;
    gap: 12px;

    &_text {
      margin-bottom: 8px !important;
    }
  }

  &_quantity {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    grid-column: 6/8;
  }

  &_customizationText {
    @include flex-center;
    flex-direction: column;
    gap: 8px;
    min-width: 250px !important;
    text-align: center;
  }
  
  &_price {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    grid-column: 9/11;
  }

  &_buyAgain {
    grid-column: 12/13;
  }

  &_orderTotal {
    background-color: $blue-0;
    border-radius: 0 0 5px 5px;
    border-top: dashed 2px $blue-100;
    @include flex-between;
    padding: 24px 32px;

    &_fees {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &_buttons {
      display: flex;
      align-items: center;
      gap: 12px;

      &_button {
        @include flex-center;
        width: 180px !important;

        &_spinner {
          margin-left: 12px;
          width: unset !important;
        }
      }
    }

    &_text {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-right: 12px;

      &_deliveryFee {
        background-color: $neutral-50;
        border-radius: 5px;
        box-shadow: $shadow-normal;
        padding: 4px 8px;
        width: fit-content !important;

        &:hover {
          background-color: $neutral-100;
        }
      }
    }
  }

  &_pagination {
    margin: 24px 0 0 !important;
  }

  &_noResults {
    margin-top: 40px;
  }
}

