@import "@/styles/variables";
@import "@/styles/mixins";

.SellerSidebar {
  background: $neutral-0;
  border-right: 1px solid $neutral-100;
  box-shadow: $shadow-normal;
  height: calc(100% - 65px);
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 65px;
  width: 220px;
  transition: transform 0.25s, opacity 0.25s, top 0.35s, height 0.35s,
  -webkit-transform 0.25s, -moz-transform 0.25s, -o-transform 0.25s;
  transform: translate3d(0, 0, 0);
  z-index: 1000;

  @include breakpoint(md) {
    height: 100%;
    padding-top: 12px;
    top: 0;
    z-index: 1030;
  }

  &___toggled {
    transform: translate3d(-220px, 0, 0);
  }

  &_close {
    color: $blue-300;
    display: none;
    margin-left: auto;

    &:hover {
      > i {
        color: $blue-400;
      }
    }

    @include breakpoint(md) {
      display: block;
    }
  }
}
