@import '@/styles/mixins';
@import '@/styles/variables';

.Footer {
  background: $neutral-0;
  border-top: 2px solid $blue-200;
  padding: 10px 24px;
  @include flex-center;

  &_container {
    @include flex-between;
    width: 100%;
    max-width: 1400px;
  }

  &_logo {
    cursor: pointer;
    @include flex-center;

    &_img {
      margin-right: 12px;
    }
  }

  &_info {
    &_text {
      @include flex-center;

      @include breakpoint(xs) {
        font-size: 12px;
      }
    }
  }
}