@import '../@/styles/variables';
@import '../@/styles/mixins';

.ChoicesPage {
  @include flex-center;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 60px;
  text-align: center;

  &_choices {
   display: flex;
   margin-top: 24px;
  }

  &_choice {
    padding: 24px;
    margin-bottom: 40px;

    &_card {
      padding: 40px;
      margin-bottom: 24px;
    }
  }

  &_back {
    font-size: 20px !important;

    i {
      font-size: 20px !important;
    }
  }
}