@import '@/styles/variables';
@import '@/styles/mixins';

.Dashboard {
  padding-top: 24px;

  &_header {
    @include flex-between;
  }

  &_statistics {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 24px;
    margin: 32px 0 40px;

    &_details {
      text-align: center;
      width: 100%;

      &:nth-of-type(1),
      &:nth-of-type(2) {
        border-right: 1px solid $neutral-200;
      }
    }

    &_text {
      @include flex-center;
      margin-top: 12px;
    }

    &_assignmentIcon {
      margin-right: 8px;
      color: $neutral-400;
    }

    &_ongoingIcon {
      margin-right: 8px;
      color: $blue-400;
    }

    &_shoppingIcon {
      margin-right: 8px;
      color: $green-400;
    }
  }

  &_graph {
    margin-top: 20px;
    padding: 40px;
    width: 100%;

    @include breakpoint(lg) {
      width: 100%;
    }

    @include breakpoint(xs) {
      padding: 20px;
    }
  }
}