@import "@/styles/mixins";
@import "@/styles/variables";

.PreloaderOnGoingOrders {
  @include ease(0.4s);
  margin-top: 24px;
  overflow: hidden;

  &_header,
  &_body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @include breakpoint(sm) {
      grid-template-columns: 1fr;
    }
  }

  &_header {
    &_shine {
      height: 54px;

      @include breakpoint(sm) {
        height: 40px;
        display: none;
      }

      &:nth-child(1) {
        @include breakpoint(sm) {
          display: block;
        }
      }

      &:nth-child(2) {
        @include breakpoint(sm) {
          display: block;
        }
      }

      &:nth-child(3) {
        @include breakpoint(sm) {
          display: block;
        }
      }
    }
  }

  &_separator {
    border-color: $neutral-0;
  }

  &_body {
    &_shine {
      height: 94px;

      @include breakpoint(sm) {
        height: 50px;
        display: none;
      }

      &:nth-child(1) {
        @include breakpoint(sm) {
          display: block;
        }
      }

      &:nth-child(2) {
        @include breakpoint(sm) {
          display: block;
        }
      }

      &:nth-child(3) {
        @include breakpoint(sm) {
          display: block;
        }
      }
    }
  }
}
