@import '@/styles/variables';
@import '@/styles/mixins';


.Cart {
  display: flex;
  flex-direction: column;
  margin-top: 65px;

  &_banner {
    background-color: $neutral-0;
    border-bottom: 2px solid $neutral-200;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    position: absolute;
    left: 0;
    right: 0;

    &_text {
      display: flex;
      align-items: center;
      max-width: 1440px;
      padding: 0 60px;
      width: 100%;
    }
  }

  &_details {
    background-color: $neutral-0;
    border-radius: 5px;
    border-bottom: 2px solid $blue-100;
    @include flex-between;
    margin-top: 150px;
    padding: 24px 40px;

    &_additionals {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 150px;
    }
  }

  &_products {
    &_card {
      margin-top: 16px;
    }
  }

  &_footer {
    background-color: $neutral-0;
    border-radius: 5px;
    @include flex-between;
    padding: 24px 40px;
    margin-top: 60px;

    &_left {
      @include flex-center;
      gap: 20px;
    }

    &_right {
      @include flex-center;
      gap: 20px;
    }
  }
}