@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.Gift {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

  @include breakpoint(md) {
    height: unset;
    flex-direction: column;
  }

  &___bohol {
    background-image: url('../../../../public/images/Beaches/bohol-hills.jpg');
  }

  &___cebu {
    background-image: url('../../../../public/images/Beaches/cebu1.jpg');
  }

  &___negrosOriental {
    background-image: url('../../../../public/images/Beaches/negros-oriental1.jpg');
  }

  &___siquijor {
    background-image: url('../../../../public/images/Beaches/siquijor2.jpg');
  }

  &_left {
    border-left: 1px dashed $neutral-100;
    padding: 0 0 20px 40px;
    margin-left: 40px;
    max-width: 1200px;

    @include breakpoint(md) {
      margin: 40px 40px;
    }

    @include breakpoint(xs) {
      padding-left: 20px;
      margin: 40px 20px;
    }

    &___negrosOriental {
      border-left: 1px dashed $neutral-800 !important;
    }

    &_title {
      margin-bottom: 12px;

      &_place {
        font-size: 90px;

        &___negrosOriental {
          font-size: 70px;
        }
      }

      &_text {
        font-style: italic;
      }
    }

    &_message {
      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(5px);
      border-radius: 5px;
      padding: 8px;
    }
  }

  &_button {
    margin-top: 40px;
    width: 40%;

    @include breakpoint(lg) {
      width: 100%;
    }
  }

  &_right {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-left: 50px;
    padding: 40px;
    
    @include breakpoint(md) {
      height: unset;
      margin-left: 0;
      width: 100%;
    }

    &_links {
      @include flex-between;
      margin-bottom: 40px;
    }

    &_button {
      margin-right: 24px;
    }

    &_slider {
      align-self: center;
      width: 100%;
      max-width: 450px;

      @include breakpoint(md) {
        justify-self: center;
        max-width: 100%;
      }
      
      > div {
        > ul {
          bottom: 10px !important;
        }

        > button {
          width: 115px !important;

          &:hover {
            scale: unset !important;
          }
        }
      }
    }

    &_image {
      height: 250px;

      @include breakpoint(xs) {
        height: 200px;
        width: 280px;
      }
    }

    &_card {
      background: transparent;
      margin-top: 40px !important;
      padding: 24px;

      &_title {
        margin-bottom: 12px;
      }

      &_button {
        margin-top: 24px;
      }
    }

  }
}